# Output Formatting :

    -%
    -.format

In [1]:
a=20
print("a value is %d"%a)

a value is 20

In [2]:
a=20
b=30
print("a value is %d and b value is %d"%(a,b))

a value is 20 and b value is 30

In [3]:
print("a value is {}".format(a))

a value is 20

In [4]:
print("a value is {1} and b value is {0}".format(a,b))

a value is 30 and b value is 20

In [12]:
k=float(input())
m=float(input())
print("square of {} is: {}".format(int(k),int(k*k)))
print("cube of {} is: {}".format(int(k),int(k*k*k)))
print("Addition of {} and {} is: {}".format(int(k),int(m),int(k+m)))
print("difference of {} and {} is: {}".format(int(k),int(m),int(k-m)))
print("Multiplecation of {} and {} is: {}".format(int(k),int(m),int(k*m)))
print("Base of {} and exponent {} power is: {}".format(int(k),int(m),int(k**m)))
print("Equation of 2x^3+5y^2+6 and its value is: {}".format(2*(int(k)**3)+5*(m**2)+6))

2
3
square of 2 is: 4
cube of 2 is: 8
Addition of 2 and 3 is: 5
difference of 2 and 3 is: -1
Multiplecation of 2 and 3 is: 6
Base of 2 and exponent 3 power is: 8
Equation of 2x^3+5y^2+6 and its value is: 67.0

# Conditional Statements

        -To check whether given condition is True or False
        
        -if ->Single case
        -if-else ->
        -if-elselader ->
        nested-if-else ->

# if
    syntax:
           if(condition):
              //stmnt1
# ifelse
    syntax:
            if(condition):
                //stmnt
             else
                 //stmnt
# nested if else
    syntax:
            if(condition1):
                if(condition2):
                    //stmnt1
                    else
                        //stmnt2
                    else
                        //stmntn
# elif
        syntax:
                if(condition1):
                    //stmnt-1
                elif(condition2):
                    //stmnt-2
                elif(condition3):
                    //stmnt-3
                |             |
                |             |
                else:
                    //stmnt-n

In [18]:
n= int(input())
if n==0:
    print("n Value is: {}".format(n))

0
n Value is: 0

In [19]:
m= int(input())
if m>0:
    print("M Value is {} and it is positive".format(m))
else:
    print("M Value is {} and it is negative".format(m))

2
M Value is 2 and it is positive

In [34]:
uid=int(input())
pin=int(input())
if uid==234 and pin==1234:
        print("Wellcome userid{}".format(uid))
else:
    print("Userid {} or password is incorrect".format(uid))

234
222
Userid 234 or password is incorrect

In [41]:
uid=int(input())
pin=int(input())
m=userid
n=pin
if m==234 and n==1234:
    print("Wellcome userid %d"%m)
else:
    print("userid %d or password is incorrect"%m)

234
1222
userid 234 or password is incorrect

In [50]:
uid=int(input())
pin=int(input())
m=uid
n=pin
if m==123 and n==100:
    print("Wellcome userid %d"%m)
    if m==123 and n !=100:
        print("invalid pasword %d "%n)
        if m!=123 and n==100:
        print("invalid pasword %d "%n)

234
100
invalid userid 234

In [58]:
uid=int(input())
if uid==123:
    pin=int(input())
    if pin==100:
            print("Wellcome userid %d"%uid)
    else:
        print("invalid pasword %d "%pin)
else:
    print("invalid userid %d "%uid)

123
100
Wellcome userid 123

In [61]:
n= int(input())
if n%3==0 and n%5==0:
    print("{} is divide by 3 and 5 ".format(n))
elif n%3==0:
    print("{} is divisible by 3".format(n))
elif n%2==0:
    print("{} is divisible by 2".format(n))
else:
    print("Given number is{}".format(n))

2
2 is divisible by 2

# Control Statements, Iterations,  Loops, Repetitions:

 -To control the flow of exection 
 
  - For-> Particular range
  - While-> infinite loop, it works like for also

## For 
```        syntax:
               for itervar in range(start,stop,step):
                  //stmnt
                 
                range(10) -> 0 - 9
                range(1 - 10) -> 1 - 9
                range(10,50,10) -> 10 , 20 , 30 , 40
     ```

In [65]:
n=int(input())
for it in range(n+1):
    print(it,end=",")

5
0,1,2,3,4,5,

In [66]:
n=int(input())
for it in range(n+1):
    print(it+1,end=",")

5
1,2,3,4,5,6,

In [67]:
n=int(input())
for it in range(n):
    print(it,end=",")

5
0,1,2,3,4,

In [70]:
k=int(input())
m=int(input())
for nn in range(k,m):
    print(nn,end=",")

25
50
25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

In [90]:
k=int(input())
m=int(input())
s=int(input())
for nn in range(k,m,s):
    print(nn,end=",")

10
20
1
10,11,12,13,14,15,16,17,18,19,

In [92]:
k=int(input())
m=int(input())
#s=int(input())
for nn in range(k,m):
    print(end="")
    print("174M1A0%d"%nn)

501
560
174M1A0501
174M1A0502
174M1A0503
174M1A0504
174M1A0505
174M1A0506
174M1A0507
174M1A0508
174M1A0509
174M1A0510
174M1A0511
174M1A0512
174M1A0513
174M1A0514
174M1A0515
174M1A0516
174M1A0517
174M1A0518
174M1A0519
174M1A0520
174M1A0521
174M1A0522
174M1A0523
174M1A0524
174M1A0525
174M1A0526
174M1A0527
174M1A0528
174M1A0529
174M1A0530
174M1A0531
174M1A0532
174M1A0533
174M1A0534
174M1A0535
174M1A0536
174M1A0537
174M1A0538
174M1A0539
174M1A0540
174M1A0541
174M1A0542
174M1A0543
174M1A0544
174M1A0545
174M1A0546
174M1A0547
174M1A0548
174M1A0549
174M1A0550
174M1A0551
174M1A0552
174M1A0553
174M1A0554
174M1A0555
174M1A0556
174M1A0557
174M1A0558
174M1A0559

In [109]:
n=int(input())
for k in range(n+1):
    if k<=9:
        print("174M1A050%d 184M1A050%d"%(k,k))
    else:
        print("174M1A05%d 184M1A05%d"%(k,k))

20
174M1A0500 184M1A0500
174M1A0501 184M1A0501
174M1A0502 184M1A0502
174M1A0503 184M1A0503
174M1A0504 184M1A0504
174M1A0505 184M1A0505
174M1A0506 184M1A0506
174M1A0507 184M1A0507
174M1A0508 184M1A0508
174M1A0509 184M1A0509
174M1A0510 184M1A0510
174M1A0511 184M1A0511
174M1A0512 184M1A0512
174M1A0513 184M1A0513
174M1A0514 184M1A0514
174M1A0515 184M1A0515
174M1A0516 184M1A0516
174M1A0517 184M1A0517
174M1A0518 184M1A0518
174M1A0519 184M1A0519
174M1A0520 184M1A0520

In [129]:
st=int(input())
en=int(input())
es=os=ec=oc=0
print("Even numbers are :",end="")
for i in range(st,en+1):
    if i%2==0:
        if en==i:
            print(i,end="")
        else:
            print(i,end=",")
            es+=i
            ec+=1
print("\nOdd numbers are :",end="")
for j in range(st,en):
    if j%2!=0:
        if en-1==j:
            print(j,end="")
        else:
            print(j,end=",")
        os+=j
        oc+=1
print("\n Sum of Even numbers are: {}".format(es))
print("\n Sum of Odd numbers are: {}".format(os))
print("\n Even digits Count: {}".format(ec))
print("\n Odd digits Count: {}".format(oc))

1
10
Even numbers are :2,4,6,8,10
Odd numbers are :1,3,5,7,9
 Sum of Even numbers are: 20

 Sum of Odd numbers are: 25

 Even digits Count: 4

 Odd digits Count: 5

# While

    Syntax:
         initialization
         while(condition):
         //stats
         inc/dec

In [132]:
m=int(input())
t=m
c=0
while m!=0:
    m=m//10
    c+=1
print("Given Number is: {}\nDigit count is: {}".format(t,c))

1234
Given Number is: 1234
Digit count is: 4