# Python Basics:

### Data Types: 
           
     -Int -> Numberic Formate of data
     -Float -> Decimal values 
     -String->" or "
     -Complex->Real and imaginary part

# Variable:

            -The stores the data

In [1]:
a=10
a

10

In [2]:
a=100
b=30

In [3]:
(a,b)

(100, 30)

In [4]:
print(a)
print(b)

100
30

# Type:

In [5]:
type(a)
print(type(a),type(b))

<class 'int'> <class 'int'>

In [8]:
c= 'rajesh'
d= 25.00
e= True
g='235.15645'
h='545'
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(g,type(g))
print(h,type(h))

rajesh <class 'str'>
25.0 <class 'float'>
True <class 'bool'>
235.15645 <class 'str'>
545 <class 'str'>

### Variable assignments:

In [10]:
a,h,l,y=23,13.000,'raju',False
print(a,type(a))
print(h,type(h))
print(l,type(l))
print(y,type(y))

23 <class 'int'>
13.0 <class 'float'>
raju <class 'str'>
False <class 'bool'>

In [11]:
g = i = l = 520
print(g,i,l)

520 520 520

### Dynamic Way of type casting values

In [16]:
k=input("Enter a value:")
print(k,type(k))
print(int(k),type(int(k)))

Enter a value:2
2 <class 'str'>
2 <class 'int'>

In [17]:
k=input("Enter a value:")
print(k,type(k))
print(float(k),type(float(k)))

Enter a value:23.2
23.2 <class 'str'>
23.2 <class 'float'>

In [18]:
p=int(input())
print(p,type(p))

45645
45645 <class 'int'>

In [ ]:
Input : 32.56
        23.45
        
Output: Given numbers are 32.56 and 23.45
        Type casting of values to integers are 32 and 23
        Type casting of values to string are '32' and '23'

In [24]:
a=float(input())
b=float(input())
print("Given numbers are",a,"and",b)
print("Type casting of values to integers are",int(a),"and",int(b))
print("Type casting of values to strings are'"+str(int(a))+"'and'"+str(int(b))+"'")

235.33
2563.32
Given numbers are 235.33 and 2563.32
Type casting of values to integers are 235 and 2563
Type casting of values to strings are'235'and'2563'

# OPerators:
 
       - Arithmetic -> +,-,*,/,%,//,**
       - Relational -> <,>,>=,<=,!=,==
       - Assignment -> +=,-=,*=,/=,%=
       - Logical -> AND,OR,NOT
       - Bitwise -> &,|,~,>>,<<
       - Identity -> is, is not
       - Membership -> in,not in

In [8]:
a=float(input())
b=float(input())
#c=float(input())
print("Square of ",int(a),"is:",int(a**2))
print("Cube of ",int(a),"is:",int(a**3))
print("Addition of ",int(a),"and",int(b),"is:",int(a+b))
print("difference of ",int(a),"and",int(b),"is:",int(a-b))
print("Multiplecation of ",int(a),"and",int(b),"is:",int(a*b))
print("Division of ",int(a),"and",int(b),"is:",(a/b))
print("Floor of ",int(a),"and",int(b),"is:",(a//b))
print("power of ",int(a),"and",int(b),"is:",(a**b))
print("Equation 2x^3+5y^2+6 and its value is:",2*(int(a)**3)+5*(b**2)+6)

2
3
Square of  2 is: 4
Cube of  2 is: 8
Addition of  2 and 3 is: 5
difference of  2 and 3 is: -1
Multiplecation of  2 and 3 is: 6
Division of  2 and 3 is: 0.6666666666666666
Floor of  2 and 3 is: 0.0
power of  2 and 3 is: 8.0
Equation 2x^3+5y^2+6 and its value is: 67.0